<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="site de elec appli meilleur companie d'éléctricité">
    <meta name="theme-color" content="#ffffff">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
        <!--    ICONS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
      <!--  Icons --->
      <link rel="stylesheet" href="/public/css/apropos.css">
      <link rel="stylesheet" href="/public/css/avis.css">

</head>
<body>
<header>
  <div class="premierept">
   <div class="add">
       <i class="bx bx-map">
   </i> 
   <p> 30 rue des Graves bât B, 31780 Castelginest  </p>
   </div>
 <div class="add">
     <i class="bx bx-time">
   </i>  <p> Dépannage 24h/24et 7j/7.</p>
 </div>
 
   <a href="tel: 07 81 88 21 30" class="phone">
     <i class="bx bx-phone"></i>
     <p>06.41.08.58.11</p>
   </a>
 </div>

 <div class="secondpt">
  <a href="/" class="boss">
    <img src='/public/img/elec-appli.png'  alt=""  class="logo"/>
  </a>

  <input type="checkbox" id="toggle" class="freezer">

  <nav>

    <!--
          <label class="navbar-toggler" for="toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </label>
    -->


    <ul class="nav-list mobile-nav">
        <li class="nav-item">
          <a href="/" class="pareil">Accueil</a>
           
      </li>
        <li class="nav-item">
          <a href="./services" class="pareil">Services</a>
            
        </li>
        <li class="nav-item">
          <a href="./apropos" class="pareil"> À Propos</a>
           
        </li>
        <li class="nav-item">
          <a href="./avis" class="pareil">Avis</a>
            
        </li>
        <li class="nav-item">
          <a href="./contact" class="pareil">Contact</a>
        </li>
    </ul>


    <button class="hamburger ">
      <div class="bar"></div>
    </button>
</nav>




 

</div>  
</header>
  <% if(typeof message_avis != 'undefined'){ %>
    <div id="message_avis"><%= message_avis %></div>
  <% }else if(typeof err != 'undefined'){ %>
    <div id="err"><%= err %></div>
  <% }else{ %>
    <form method="POST">
      <h2>Laissez nous un Commentaire !</h2>
      
      <div>
        <label for="nom">Nom :</label>
        <input type="text" name="nom" id="nom" required>
      </div>
      <div>
        <label for="prenom">Prénom :</label>
        <input type="text" name="prenom" id="prenom" required>
      </div>
      <div>
        <label for="email">Email :</label>
        <input type="text" name="email" id="email" required>
      </div>
      <div class="stars1">
        <label>Étoiles :</label>
        <div class="stars">
          <input style="display: none;" type="radio" id="etoile1" name="stars" value="1" required>
          <label for="etoile1">&#9733;</label>
          <input style="display: none;" type="radio" id="etoile2" name="stars" value="2" required>
          <label for="etoile2">&#9733;</label>
          <input style="display: none;" type="radio" id="etoile3" name="stars" value="3" required>
          <label for="etoile3">&#9733;</label>
          <input style="display: none;" type="radio" id="etoile4" name="stars" value="4" required>
          <label for="etoile4">&#9733;</label>
          <input style="display: none;" type="radio" id="etoile5" name="stars" value="5" required>
          <label for="etoile5">&#9733;</label>
        </div>
        <script src="/public/js/stars.js"></script>
      </div>
      <div>
        <label for="comment">Commentaire :</label>
        <textarea name="comment" id="comment" style="resize: vertical;"></textarea>
      </div>
      <input type="submit" value="Valider">
    </form>
  <% } %>
 
    <% if(allAvis.length === 0){ %>
    <h2>Aucun Avis pour le moment</h2>
    <% }else{ %>
    <h2>Nos Avis</h2>
    <hr>
    <section class="full">

      <% allAvis.forEach(avis => { %>
        <section class="avis">
          <h4><%= avis.nom %> <%= avis.prenom %></h4>
          <div class="etoile">
            <% for(let i = 0; i < avis.stars ; i++){ %>
              <h4 style="color: yellow;">&#9733;</h4>
            <% } %>
            <% for(let i = 0; i < 5 - avis.stars ; i++){ %>
              <h4 style="color: white;">&#9733;</h4>
            <% } %>
          </div>
          <p><%= avis.comment %></p>        
        </section>
      <% }); %>
    <% } %>
  </section>
  
  <footer>
    <div class="foot">
      <div class="gol">
        <img src="/public/img/elec-appli.png" alt="" class="app">
      </div>
      <div class="footer-links">
        <ul class="toof">
          <li><a href="./" class="pareil">Accueil</a></li>
          <li><a href="/services" class="pareil">Services</a></li>
          <li><a href="/apropos" class="pareil"> À Propos</a></li>
          <li><a href="/avis" class="pareil"> Avis</a></li>
          <li><a href="/contact" class="pareil">Contact</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        
        <p>Adresse : 30 rue des Graves bât B, 31780 Castelginest</p>
        <p>Téléphone :  06.41.08.58.11</p>
        <p>Email : fagoua_placide@hotmail.com</p>
      </div>
   
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 ELEC APPLICATION ET INGENIERIE - Tous droits réservés</p>
    </div>
  </footer>

  <script src="/public/js/index.js"></script>
 </body>
 </html>